<section>
  <div class="page-header">
    <h1>Bookings</h1>
  </div>
  <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="lr_number" class="col-sm-5 control-label">LR Number:</label>
                <div class="col-sm-7">
                    <input id="lr_number" type="text" class="form-control" ng-model="vm.search.lr_number" 
                        placeholder="Enter LR Number"/>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="lr_number" class="col-sm-5 control-label">challan Number:</label>
                <div class="col-sm-7">
                    <input id="challan_number" type="text" class="form-control" ng-model="vm.search.challan_number" 
                        placeholder="Enter Challan Number"/>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="lr_number" class="col-sm-5 control-label">Invoice Number:</label>
                <div class="col-sm-7">
                    <input id="challan_number" type="text" class="form-control" ng-model="vm.search.invoice_number" 
                        placeholder="Enter Invoice Number"/>
                </div>
            </div>
        </div>
  </div>
  <br/>
  <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="lr_number" class="col-sm-5 control-label">LR From:</label>
                <div class="col-sm-7">
                  <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="vm.search.lr_from" 
                          is-open="vm.lr_from.isOpened" datepicker-options="vm.dateOptions"/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="vm.selectDate($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="lr_number" class="col-sm-5 control-label">LR To:</label>
                <div class="col-sm-7">
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="vm.search.lr_to" 
                          is-open="vm.lr_to.isOpened" datepicker-options="vm.dateOptions"/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="vm.selectDate($event, 2)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="bill_number" class="col-sm-5 control-label">Bill Number:</label>
                <div class="col-sm-7">
                    <input id="bill_number" type="text" class="form-control" ng-model="vm.search.bill_number" 
                        placeholder="Enter Bill Number"/>
                </div>
            </div>
        </div>
        <br>
        <div class="page-controls col-sm-12" style="text-align: center;">
            <div class="row" role="toolbar">
                <button type="button" class="btn btn-default" ng-click="vm.searches()">Search</button>
                <button type="button" class="btn btn-default" ng-click="vm.reset()">Reset</button>
                <button type="button" class="btn btn-default" ng-click="vm.gotoNewBooking()">New Order</button>
            </div>
        </div>
  </div>
  <br/><hr/>
  <div class="list-group table-responsive">
    <table class="table table-hover" id="myTable2">
        <thead>
          <tr>
            <th> </th>
             <th> </th> 
            <th> </th>
            <th ng-click="vm.sortTable(0)">LR Date</th>
            <th ng-click="vm.sortTable(1)">LR No</th>
            <th ng-click="vm.sortTable(2)">Challan No</th>
            <th ng-click="vm.sortTable(3)">Bill No</th>
            <th ng-click="vm.sortTable(4)">Branch/Area</th>
            <th ng-click="vm.sortTable(5)">Package</th>
            <th ng-click="vm.sortTable(6)">Invoice No</th>
            <th ng-click="vm.sortTable(7)">invoice Date</th>
            <th ng-click="vm.sortTable(8)">Weight</th>
            <th ng-click="vm.sortTable(9)">Vehicle No</th>
            <th ng-click="vm.sortTable(10)">From</th>
            <th ng-click="vm.sortTable(11)">To</th>
            <th ng-click="vm.sortTable(12)">Total Amount</th>
            <th ng-click="vm.sortTable(13)">Booking Method</th>
            <th ng-click="vm.sortTable(14)">Total Payable</th>
            <th ng-click="vm.sortTable(15)">Vehicle Type</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="booking in vm.bookings">
            <td> <a class="btn btn-primary" ui-sref="bookings.view({bookingId: booking._id})">VIEW</a> </td>
             <td> <a class="btn btn-primary" ui-sref="bookings.edit({bookingId: booking._id})">EDIT</a> </td> 
            <td> <div class="btn btn-primary" ng-click="vm.download(booking._id)">DOWNLOAD</div> </td>
            <td>{{booking.lr_date | date:'dd/MMM/yyyy'}}</td>
            <td>{{booking.lr_number}}</td>
            <td>{{booking.challan_number}}</td>
            <td>{{booking.pod.bill_no}}</td>
            <td>{{booking.branch_area}}</td>
            <td>{{booking.package}}</td>
            <td>{{booking.invoice_number}}</td>
            <td>{{booking.invoice_date | date:'dd/MMM/yyyy'}}</td>
            <td>{{booking.weight}}</td>
            <td>{{booking.vehicle_number}}</td>
            <td>{{booking.from}}</td>
            <td>{{booking.to}}</td>
            <td>&#8377;  {{vm.convertToFloat(booking.basic_amount) + vm.convertToFloat(booking.service_tax)
                 + vm.convertToFloat(booking.other_charge)}}</td>
            <td>{{booking.booking_method}}</td>
            <td>&#8377;  {{vm.convertToFloat(booking.commission) + vm.convertToFloat(booking.interest)
                  + vm.convertToFloat(booking.extra) + vm.convertToFloat(booking.crane_charge) +
                  vm.convertToFloat(booking.halting) + vm.convertToFloat(booking.hire)}}</td>
            <td>{{booking.vehicle_type}}</td>
          </tr>
        </tbody>
    </table>
  </div>
  <uib-pagination boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
