<section>
  <div class="page-header">
    <h1>Cheques</h1>
  </div>
  <div class="list-group table-responsive">
    <table class="table table-hover" id="myTable1">
        <thead>
          <tr>
            <th> </th>
            <th> </th>
            <th ng-click="vm.sortTable(0)">LR Date</th>
            <th ng-click="vm.sortTable(1)">LR No</th>
            <th ng-click="vm.sortTable(2)">Challan No</th>
            <th ng-click="vm.sortTable(3)">Branch/Area</th>
            <th ng-click="vm.sortTable(4)">Invoice No</th>
            <th ng-click="vm.sortTable(5)">Invoice Date</th>
            <th ng-click="vm.sortTable(6)">Total Amount</th>
            <th ng-click="vm.sortTable(7)">Cheque Date</th>
            <th ng-click="vm.sortTable(8)">Cheque Number</th>
            <th ng-click="vm.sortTable(9)">Cheque Amount</th>
          </tr>
        </thead>
        <tbody ng-repeat="booking in vm.bookings">
          
          <tr ng-show="booking.payments.payment_mode == 'cheque'" ng-style="(booking.payments_cleared != '') && {'background-color':'#c9e9c9'} || {'background-color': '#dcdcdc'}">
            <td> <a class="btn btn-primary" ui-sref="bookings.view({bookingId: booking._id})">VIEW</a> </td> 
            <td> <a class="btn btn-primary" ng-click="vm.onPaymentDone(booking._id, 'pay')" ng-disabled="booking.payments_cleared != ''">CLEARED</a> </td>
            <td>{{booking.lr_date | date:'dd/MMM/yyyy'}}</td>
            <td>{{booking.lr_number}}</td>
            <td>{{booking.challan_number}}</td>
            <td>{{booking.branch_area}}</td>
            <td>{{booking.invoice_number}}</td>
            <td>{{booking.invoice_date | date:'dd/MMM/yyyy'}}</td>
            <td>&#8377;  {{vm.convertToFloat(booking.basic_amount) + vm.convertToFloat(booking.service_tax)
                 + vm.convertToFloat(booking.other_charge)}}</td>
            <td>{{booking.payments.cheque_date | date:'dd/MMM/yyyy'}}</td>
            <td>{{booking.payments.cheque_no}}</td>
            <td>&#8377;  {{booking.advance}}</td>
          </tr>

          <tr ng-style="(booking.payments_cleared != '') && {'background-color':'#c9e9c9'} || {'background-color': '#dcdcdc'}">
             <td> <a class="btn btn-primary" ui-sref="vm.bookings.view({bookingId: booking._id})">VIEW</a> </td> 
            <td> <a class="btn btn-primary" ng-click="vm.onPaymentDone(booking._id, 'bal')" ng-disabled="booking.balance_cleared != ''">CLEARED</a> </td>
            <td>{{booking.lr_date | date:'dd/MMM/yyyy'}}</td>
            <td>{{booking.lr_number}}</td>
            <td>{{booking.challan_number}}</td>
            <td>{{booking.branch_area}}</td>
            <td>{{booking.invoice_number}}</td>
            <td>{{booking.invoice_date | date:'dd/MMM/yyyy'}}</td>
            <td>&#8377;  {{vm.convertToFloat(booking.basic_amount) + vm.convertToFloat(booking.service_tax)
                 + vm.convertToFloat(booking.other_charge)}}</td>
            <td>{{booking.balance.cheque_date | date:'dd/MMM/yyyy'}}</td>
            <td>{{booking.balance.cheque_no}}</td>
            <td>&#8377;  {{vm.convertToFloat(booking.basic_amount) + vm.convertToFloat(booking.service_tax)
                 + vm.convertToFloat(booking.other_charge) - booking.advance}}</td>
          </tr>
          
        </tbody>
    </table>
  </div>
  <uib-pagination boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
