<section>
  <div class="page-header row">
      <div class="col-md-8">
        <h1>Payment</h1>
      </div>
      <div class="col-md-4">
         <a class="btn btn-primary" style="background-image:linear-gradient(to bottom, brown 0%, brown 100%)" 
            ng-click="vm.onMultiplePayment()" ng-hide="!vm.showMultipleModel">Cancel</a> 
         <a class="btn btn-primary" style="background-image:linear-gradient(to bottom, brown 0%, brown 100%)" 
            ng-click="vm.onMultiplePayment()" ng-hide="vm.showMultipleModel">MULTIPLE PAYMENT</a> 
      </div>
  </div>


  <div  ng-show="!vm.showModal && !vm.showMultipleModel">
    <div class="list-group table-responsive">
      <table class="table table-hover" id="myTable">
          <thead>
            <tr>
              <th> </th>
              <th> </th>
              <th ng-click="vm.sortTable(0)">LR Date</th>
              <th ng-click="vm.sortTable(1)">LR No</th>
              <th ng-click="vm.sortTable(2)">Challan No</th>
              <th ng-click="vm.sortTable(3)">Branch/Area</th>
              <th ng-click="vm.sortTable(4)">Invoice No</th>
              <th ng-click="vm.sortTable(5)">Invoice Date</th>
              <th ng-click="vm.sortTable(6)">Total Amount</th>
              <th ng-click="vm.sortTable(7)">Amount Paid</th>
              <th ng-click="vm.sortTable(8)">Pending</th>
              <th ng-click="vm.sortTable(9)">Consigner</th>
              <th ng-click="vm.sortTable(10)">Consignee</th>
            </tr>
          </thead>
          <tbody ng-repeat="booking in vm.bookings">
            
            <tr ng-style="(booking.sumOfClearances == (booking.basic_amount+booking.service_tax+booking.other_charge)) && {'background-color':'#c9e9c9'} || {'background-color': '#dcdcdc'}">
              <td> <a class="btn btn-primary" ui-sref="bookings.view({bookingId: booking._id})">VIEW</a> </td> 
              <td>
                <a class="btn btn-primary" ng-click="vm.onPaymentDone(booking._id)">CLEARED</a> 
                <p ng-show="(booking.sumOfClearances == (booking.basic_amount+booking.service_tax+booking.other_charge))"> </p>
              </td>
              <td>{{booking.lr_date | date:'dd/MMM/yyyy'}}</td>
              <td>{{booking.lr_number}}</td>
              <td>{{booking.challan_number}}</td>
              <td>{{booking.branch_area}}</td>
              <td>{{booking.invoice_number}}</td>
              <td>{{booking.invoice_date | date:'dd/MMM/yyyy'}}</td>
              <td>&#8377;  {{vm.calculateTotal(booking)}}</td>
              <td>&#8377; {{booking.sumOfClearances}} </td>
              <td>&#8377; {{vm.calculateTotal(booking)-vm.convertToFloat(booking.sumOfClearances)}} </td>
              <td>{{booking.consignor.name}}</td>
              <td>{{booking.consignee.name}}</td>
            </tr>

          </tbody>
      </table>
    </div>
    <uib-pagination boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
  </div>


  <div ng-show="vm.showModal">
      <div class="col-md-12">
          <form name="vm.paymentForm" class="form-horizontal" ng-submit="vm.save(vm.paymentForm.$valid)" novalidate>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="lr_date" class="col-sm-6 control-label">LR Date:</label>
                        <div class="col-sm-6">
                            {{vm.paymentForm.lr_date | date:'dd/MMM/yyyy'}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="lr_no" class="col-sm-6 control-label">LR NO:</label>
                        <div class="col-sm-6">
                            {{vm.paymentForm.lr_number}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="invoice_date" class="col-sm-6 control-label">Invoice Date:</label>
                        <div class="col-sm-6">
                            {{vm.paymentForm.invoice_date | date:'dd/MMM/yyyy'}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="invoice_number" class="col-sm-6 control-label">Invoice NO:</label>
                        <div class="col-sm-6">
                            {{vm.paymentForm.invoice_number}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="total_amount" class="col-sm-6 control-label">Total Amount:</label>
                        <div class="col-sm-6">
                            &#8377;  {{vm.calculateTotal(vm.paymentForm)}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="balance_amount" class="col-sm-6 control-label">Amount Balance:</label>
                        <div class="col-sm-6">
                            &#8377; {{vm.calculateTotal(vm.paymentForm) - vm.convertToFloat(vm.paymentForm.sumOfClearances)}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="amount" class="col-sm-6 control-label">Amount:</label>
                        <div class="col-sm-6">
                            <input id="amount" type="text" class="form-control" ng-model="vm.paymentForm.amount_paid" placeholder="Enter Amount" ng-required="true"/>
                             <div ng-messages="vm.paymentForm.amount_paid.$error" ng-show="vm.paymentForm.amount_paid.$dirty && vm.paymentForm.amount_paid.$invalid" class="error-message">
                                <div ng-message="required">Amount is required</div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="date_paid" class="col-sm-6 control-label">Date Received:</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="vm.paymentForm.date_paid" 
                                    is-open="vm.dateset.paid.isOpened" datepicker-options="vm.dateOptions" ng-required="true"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.selectDate($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="page-controls">
                  <div class="row text-right" role="toolbar">
                      <button type="button" class="btn btn-default" ng-disabled="vm.paymentForm.$invalid" ng-click="vm.save(vm.paymentForm.$valid)">Save</button>
                      <button type="button" class="btn btn-default" ng-click="vm.toggleDialog()">Cancel</button>
                  </div>
                  <br/>
                </div>
          </form>

          <h1>Payments Received</h1> <br>
          <div class="row col-md-12" ng-repeat="pays in vm.paymentForm.clearances">
                <div class="col-md-3"> </div>
                <div class="col-md-3" style="border-bottom: 1px solid grey;"> {{pays.date_paid | date:'dd/MMM/yyyy'}} </div>
                <div class="col-md-3" style="border-bottom: 1px solid grey;"> {{pays.amount_paid}} </div>
          </div>
      </div>

  </div>


  <div ng-show="vm.showMultipleModel">
        <div class="col-md-12">
            <div class="form-group col-md-6">
                <label class="control-label" for="roles">Clients:</label>
                <div class="controls">
                    <input type="text" name="clients" id="clients" ng-model="vm.selectedClient" ng-keyup="vm.complete(vm.selectedClient)" class="form-control" />
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="client in vm.clients" ng-click="vm.fillTextbox(client)">{{client}}</li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="selectedDate" class="col-sm-4 control-label">Payment Date:</label>
                <div class="col-sm-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="vm.selectedDate.isdate" 
                            is-open="vm.selectedDate.isOpened" datepicker-options="vm.dateOptions" ng-required="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.selectDate($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <table class="table table-hover" id="myTable">
          <thead>
            <tr>
              <th ng-click="vm.sortTable(0)">LR Date</th>
              <th ng-click="vm.sortTable(1)">LR No</th>
              <th ng-click="vm.sortTable(2)">Challan No</th>
              <th ng-click="vm.sortTable(4)">Invoice No</th>
              <th ng-click="vm.sortTable(5)">Invoice Date</th>
              <th ng-click="vm.sortTable(6)">Total Amount</th>
              <th ng-click="vm.sortTable(7)">Amount Paid</th>
              <th ng-click="vm.sortTable(8)">Pending</th>
              <th ng-click="vm.sortTable(8)">Amount Paid</th>
            </tr>
          </thead>
          <tbody ng-repeat="booking in vm.clientbookings">
            
            <tr>
              <td>{{booking.lr_date | date:'dd/MMM/yyyy'}}</td>
              <td>{{booking.lr_number}}</td>
              <td>{{booking.challan_number}}</td>
              <td>{{booking.invoice_number}}</td>
              <td>{{booking.invoice_date | date:'dd/MMM/yyyy'}}</td>
              <td>&#8377;  {{vm.calculateTotal(booking)}}</td>
              <td>&#8377; {{booking.sumOfClearances}} </td>
              <td>&#8377; {{vm.calculateTotal(booking)-vm.convertToFloat(booking.sumOfClearances)}} </td>
              <td>
                    <input id="amount" type="text" class="form-control" ng-model="booking.amt" placeholder="Enter Amount"/>
              </td>
            </tr>

          </tbody>
        </table>

        <div class="col-md-12">
            <div class="col-md-6">
                <label class="control-label" for="roles">Total Amount: {{vm.calculateTotalAmount()}}</label>
            </div>            
            <div class="col-md-6">
                <button type="button" class="btn btn-default" ng-click="vm.saveMultiple()">Save</button>
            </div>
        </div>            
  </div>

</section>

